/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Common Styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* Top Players */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;

}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/*----------------------
 Top Blogs Area  
 -----------------------*/
 .blogs{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-row-gap: 26px;
 }
 .blog{
     display: flex;
 }
 .blog .thumbnail img{
    width: 177px;
    height: 117px;
 }
 .blog-info{
     margin-left: 16px;
 }
 .blog-title{
     font-size: 20px;
     margin-top: 0;
 }
 .blog-author{
     color: #9F9F9F;
 }
 .blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
 }

 /*----------------
     Courses
 ----------------- */
 .courses{
     display: flex;
     justify-content: space-between;
 }
 .course .course-banner img{
    width: 224px;
    height: 104px;
 }
 .course-author{
     color:  #ED6B4F;
 }
 .course-details{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .fas {
     color: #FFC014;
     font-size: 12px;
 }
 .far{
     color: #AEAEAE;
     font-size: 12px;
 }
 .course-duration{
     background-color: #FFE4E8 ;
     color: #ED6B4F;
     padding: 3px 5px;
     border-radius: 14.6913px;
 }
 .far.fa-clock{
    color:#ED6B4F ;
    font-size: 16.69px;
 }

 /* -------------------- 
    Media Query  
-------------------- */ 
/* Mobile Device */
@media only screen and (max-width:768px){
    .container{
        width: 100%;
    }
    .section-title{
        text-align: center;
        margin-bottom: 50px;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
    .player,.courses {
        flex-direction: column;
    } 
    .blog{
        align-items: center;
        flex-direction: column;
    }
    .blog-title{
        font-size: 14px;
        margin-top: 0;
    }
    .courses{
        align-items: center;
    }
    .course{
        margin-bottom: 30px;
        padding: 20px;
        border: 2px solid gainsboro;
        border-radius: 5px;
    }
}
